<div class="content-container">
  <div class="content-area" style="width:800px">
    <div class="clr-row clr-align-items-center" style="padding-top: 4%">
            <div class="clr-col-8">  
                            
                                    <app-chart [chartType]="'number-card'" [view]="[730,200]" ></app-chart>
                            
            </div>
            <div class="clr-col-4">
                    
                    <app-chart [chartType]="'pie-chart'" [view]="[400,200]" ></app-chart>
                    
            </div>     
                                            
    </div>
    <div class="clr-row clr-align-items-center" style="padding-top: 4%">
            <div class="clr-col-4"> 
                    <app-chart [chartType]="'gauge'" [view]="[450,300]" ></app-chart>      
            </div>
            <div class="clr-col-8">
                <app-chart [chartType]="'bar-horizontal-2d'" [view]="[750,300]" ></app-chart>
            </div>
            
    </div>
    
   
   

  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
        
        <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Global</label>
            <ul class="nav-list">
                <li><a class="nav-link active">Service Analytics</a></li>
                <li><a class="nav-link">VM Analytics</a></li>
            </ul>
        </section>       
        <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Custom</label>
            <ul class="nav-list">
                <li><a class="nav-link">Site A</a></li>
                <li><a class="nav-link">Site B</a></li>
            </ul>
        </section>      
    </section>
  </nav>
</div>