<div class="content-container">
  <div class="content-area" style="width:800px">
    <div class="clr-row">
        
          <app-chart></app-chart>
          <app-chart></app-chart>
          <app-chart></app-chart>
          <app-chart></app-chart>                                  
    </div>
    
    <div class="clr-row" *ngIf=false>
        <div class="clr-col-4">
            <div class="card">
                <div class="card-block" style="height:400px">
                    <h3 class="card-title">Card 1</h3>
                    <p class="card-text">
                        <app-chart></app-chart>
                    </p>
                </div>
                <div class="card-footer">
                      <button class="btn btn-link">
                        <clr-icon shape="refresh"></clr-icon>
                      </button> 
                </div>
            </div>
        </div>
        <div class="clr-col-4">
            <div class="card">
                <div class="card-block" style="height:400px">
                    <h3 class="card-title">Card 1</h3>
                    <p class="card-text">
                        <app-chart></app-chart>
                    </p>
                </div>
                <div class="card-footer">
                      <button class="btn btn-link">
                        <clr-icon shape="refresh"></clr-icon>
                      </button> 
                </div>
            </div>
        </div>
        <div class="clr-col-4">
            <div class="card">
                <div class="card-block" style="height:400px">
                    <h3 class="card-title">Card 1</h3>
                    <p class="card-text">
                        <app-chart></app-chart>
                    </p>
                </div>
                <div class="card-footer">
                      <button class="btn btn-link">
                        <clr-icon shape="refresh"></clr-icon>
                      </button> 
                </div>
            </div>
        </div>
    </div>

  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
        
        <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Global</label>
            <ul class="nav-list">
                <li><a class="nav-link active">Service Analytics</a></li>
                <li><a class="nav-link">VM Analytics</a></li>
            </ul>
        </section>       
        <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Custom</label>
            <ul class="nav-list">
                <li><a class="nav-link">Site A</a></li>
                <li><a class="nav-link">Site B</a></li>
            </ul>
        </section>      
    </section>
  </nav>
</div>