<div style="padding: 2% 2% 2% 2%">
<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <clr-icon shape="alarm-clock" class="has-alert" size="48"></clr-icon>
            </div>
            <div class="card-block">
                  <h2 class="card-text">16 Critical planned jobs.</h2> 
            </div>
        </a>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <clr-icon shape="line-chart" class="has-badge" size="48"></clr-icon>
            </div>
            <div class="card-block">
                  <h2 class="card-text">4 Critical Reports</h2> 
            </div>
        </a>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <clr-icon shape="tasks" class="has-badge" size="48"></clr-icon>
            </div>
            <div class="card-block">
                  <h2 class="card-text">13 Actions pending</h2> 
            </div>
        </a>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-8 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <div class="card">
            <div class="card-header">
                Recent Activities
            </div>
            <div class="card-block">
                   
            </div>
          </div>
    </div>

    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <div class="card"> 
            <div class="card-header">
                System Health
            </div>
        <div class="card-block">
               
        </div>
        </div>
</div>
    
</div>
</div>